<style>
    #vael-top{
        margin-top: 0;
    }

    #vaelPFP{
        transform: scaleX(-1);
    }
    #VaelAboutPage{
        width: 85%;
        justify-self: center;
        border-bottom: #942b68 5px solid;
        border-right: #942b68 5px solid;
        border-top: #5c1b41 5px solid;
        border-left: #5c1b41 5px solid;
        background-image: linear-gradient(45deg, #792455, #792455);
        text-align: left;

    }
    #AboutLabel{
        text-align: center;
    }
    p{
        padding-left: 20px;
    }
</style>

<div id="Grave-Header">
    <img src="/assets/vael-page/vaelpfp.png" id ="vaelPFP" class="SlowFadein"></img>
    <h1 id="vael-top"class="RainbowText">₊˚✧ About Me ✧˚₊</h1>
</divd>

<div class="section">
    <div id="VaelAboutPage">
        <h4 id="AboutLabel">✦ Feeling Batty ✦</h4>
        <p>Hello, I'm Vael! a freaky little bat from western Canada.</p>
        <p>
            I'm a multifaceted artist with a wide range of interests, but I have a special passion for charactors. I've been designing and drawing charactors for
            as long as I can remember and recently 
        </p>

    
        <%- include('snips/SocialLinks'); -%>
    </div>

    <div class="LooseLink" onclick="animateContent()" hx-trigger="click delay:0.14s"hx-get="/vaelmain" hx-target="#Vael-Content">Return</div>
</div>