<div id="Grave-Header">
    <h1 id="vael-top"class="RainbowText">₊˚✧ About Me ✧˚₊</h1>
    <h2 id="identity-label">Whaoo</h2>
    <h4>Testing things out.</h4>
</divd>

<div class="section">
    <h3>✦ Currently taking comissions! ✦</h3>
    <div class="MainLink" onclick="animateContent()" hx-trigger="click delay:0.14s"hx-get="/vaelmain" hx-target="#Vael-Content">Return</div>

</div>