<style>
    #vael-top{
        margin-top: 0;
    }

    #vaelPFP{
        transform: scaleX(-1);
    }
    #VaelAboutPage{
        width: 85%;
        justify-self: center;
        border-bottom: #942b68 5px solid;
        border-right: #942b68 5px solid;
        border-top: #5c1b41 5px solid;
        border-left: #5c1b41 5px solid;
        background-image: linear-gradient(45deg, #792455, #792455);

    }
</style>

<div id="Grave-Header">
    <img src="/assets/vael-page/vaelpfp.png" id ="vaelPFP" class="SlowFadein"></img>
    <h1 id="vael-top"class="RainbowText">₊˚✧ About Me ✧˚₊</h1>
</divd>

<div class="section">
    <h3>✦ Just a little bat doing little bat things ✦</h3>
    <div id="VaelAboutPage">
        <h3>This will be some about me content</h3>
        <p>information about myself will be shared in here, it won't go on for too long but it will be a bit personal.</p>
        <p>We will seperate things into different paragraph tags and try out best to get Kalea to share some of her own personal thoughts</p>

    
        <%- include('snips/SocialLinks'); -%>
    </div>

    <div class="LooseLink" onclick="animateContent()" hx-trigger="click delay:0.14s"hx-get="/vaelmain" hx-target="#Vael-Content">Return</div>
</div>