<script>
    function hasClass(element, className) {
        return (' ' + element.className + ' ').indexOf(' ' + className+ ' ') > -1;
    }
    let lastExpanded = null
    function expand(element){

        if(hasClass(element, "portImgExpanded")){
            element.classList.remove("portImgExpanded")
        } else {
            element.classList.add("portImgExpanded")
            if(lastExpanded && lastExpanded != element){
                lastExpanded.classList.remove("portImgExpanded")
            }
            lastExpanded = element
        }

    }
</script>

<style>
    #vael-top{
        margin-top: 0;
    }

    #vaelPFP{
        transform: scaleX(-1);
    }
    #VaelGalPage{
        width: 100%;
        justify-self: center;
        border-bottom: #942b68 5px solid;
        border-right: #942b68 5px solid;
        border-top: #5c1b41 5px solid;
        border-left: #5c1b41 5px solid;
        background-image: linear-gradient(45deg, #792455, #792455);
        text-align: left;

    }
    #AboutLabel{
        text-align: center;
    }
    .SectionLabel{
        margin-top: 5px;
        text-align: center;
        margin-bottom: 0px;
    }
    .SectionSubLabel{
        margin-top: 5px;
        text-align: center;
        font-size: large;
        margin-top: 5px;
    }
    p{
        padding-left: 20px;
    }
    .sectionDivider{
        display: block;
        border: 0;
        border-top: rgb(158, 0, 0) 4px solid;
        width: 100%;
        height: 3px;
        margin-top: 2px;
    }

    .portImg{
        transition: all 0.15s ease-in-out;
        margin: 5px;
        box-shadow: 0 0 5px rgba(233, 0, 0, 0);
    }
    .o1x1{
        width: 350px;
        height: 350px;
    }
    .portImgExpanded{
        transform: scale(2);
    }
    .portImg:hover{
        box-shadow: 0 0 25px rgb(255, 208, 0);
        cursor: pointer;
    }
    .container{
        width: 900px;
    }

    .portSection{
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
        justify-items: center;
    }
    .portSection-lineart{
        display: flexbox;
        width: 100%;
    }

    #thelads{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #kinkykitty{
        width: 480px;
        height: 375px;
    }

    #clowncat{
        width: 378px;
        height: 426px;
    }

    #vaelref{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: auto;
    }
</style>

<div id="Grave-Header">
    <img src="/assets/vael-page/vaelpfp.png" id ="vaelPFP" class="SlowFadein"></img>
    <h1 id="vael-top"class="RainbowText">₊˚✧ Portfolio ✧˚₊</h1>
</divd>

<div class="section">
    <h4 id="AboutLabel">This Portfolio is currently curated around my commissions</br>to see more of what I do, check out my socials!</h4>
    <div id="VaelGalPage">

        <h3 class="SectionLabel">✦ Full Body - Painted ✦</h3>
        <hr class="sectionDivider"/>
        <h4 class="SectionSubLabel">Fully rendered Full-body portraits with a focus on form and charactor: $160</h4>
        <div class = "portSection">
            <img class="portImg o1x1" src="assets/vael-page/PaintedVael.png" onclick="expand(this)"></img>
            <img class="portImg o1x1" src="assets/vael-page/PaintedErgo.png" onclick="expand(this)"></img>
            <img class="portImg o1x1" src="assets/vael-page/PaintedMaya.png" onclick="expand(this)"></img>
            <img class="portImg o1x1" src="assets/vael-page/PaintedFullbodyWIP01.png" onclick="expand(this)"></img>
            <img class="portImg o1x1" src="assets/vael-page/PaintedFullbodyWIP02.png" onclick="expand(this)"></img>
        </div>

        <h3 class="SectionLabel">✦ Full Body - Lineart ✦</h3>
        <hr class="sectionDivider"/>
        <h4 class="SectionSubLabel">Full-body portraits with a lineart style: $100 </h4>
        <div class = "portSection-lineart">
            <img id="vaelref" class="portImg" src="assets/vael-page/FullBodyLineart02.jpg" onclick="expand(this)"></img>
            <img id="clowncat" class="portImg" src="assets/vael-page/FullBodyLineart04.jpg" onclick="expand(this)"></img>
            <img id="kinkykitty" class="portImg" src="assets/vael-page/FullBodyLineart03.jpg" onclick="expand(this)"></img>
            <img id="thelads" class="portImg" src="assets/vael-page/FullBodyLineart01.png" onclick="expand(this)"></img>
        </div>

        <h3 class="SectionLabel">✦ Partials - Painted ✦</h3>
        <hr class="sectionDivider"/>
        <h4 class="SectionSubLabel">Painted Partials with Background: $100 </h4>
        <div class = "portSection-lineart">
            <img id="vaelref" class="portImg" src="assets/vael-page/FullBodyLineart02.jpg" onclick="expand(this)"></img>
            <img id="clowncat" class="portImg" src="assets/vael-page/FullBodyLineart04.jpg" onclick="expand(this)"></img>
            <img id="kinkykitty" class="portImg" src="assets/vael-page/FullBodyLineart03.jpg" onclick="expand(this)"></img>
            <img id="thelads" class="portImg" src="assets/vael-page/FullBodyLineart01.png" onclick="expand(this)"></img>
        </div>

        <h3 class="SectionLabel">✦ Partials - Painted ✦</h3>
        <hr class="sectionDivider"/>
        <h4 class="SectionSubLabel">Painted Partials with Background: $100 </h4>
        <div class = "portSection-lineart">
            <img id="vaelref" class="portImg" src="assets/vael-page/FullBodyLineart02.jpg" onclick="expand(this)"></img>
            <img id="clowncat" class="portImg" src="assets/vael-page/FullBodyLineart04.jpg" onclick="expand(this)"></img>
            <img id="kinkykitty" class="portImg" src="assets/vael-page/FullBodyLineart03.jpg" onclick="expand(this)"></img>
            <img id="thelads" class="portImg" src="assets/vael-page/FullBodyLineart01.png" onclick="expand(this)"></img>
        </div>
        
        <h3 class="SectionLabel">✦ Partials - Painted ✦</h3>
        <hr class="sectionDivider"/>
        <h4 class="SectionSubLabel">Painted Partials with Background: $100 </h4>
        <div class = "portSection-lineart">
            <img id="vaelref" class="portImg" src="assets/vael-page/FullBodyLineart02.jpg" onclick="expand(this)"></img>
            <img id="clowncat" class="portImg" src="assets/vael-page/FullBodyLineart04.jpg" onclick="expand(this)"></img>
            <img id="kinkykitty" class="portImg" src="assets/vael-page/FullBodyLineart03.jpg" onclick="expand(this)"></img>
            <img id="thelads" class="portImg" src="assets/vael-page/FullBodyLineart01.png" onclick="expand(this)"></img>
        </div>
    
        <%- include('snips/SocialLinks'); -%>
    </div>

    <div class="LooseLink" onclick="animateContent()" hx-trigger="click delay:0.14s"hx-get="/vaelmain" hx-target="#Vael-Content">Return</div>
</div>