<style>
    #vael-top{
        margin-top: 0;
    }

</style>

<div id="Grave-Header">
    <img src="/assets/vael-page/vaelpfp.png" id ="vaelPFP"></img>
    <h1 id="vael-top"class="RainbowText Fadein">₊˚✧ VAEL ✧˚₊</h1>
    <h2 id="identity-label">Kalea / 1997 / She-Elf / Bat </h2>
    <h4>multifaceted freelance artist and game devloper.</h4>
    <h3>✦ Currently taking comissions! ✦</h3>
</div>

<div class="section">

    <%- include('snips/MainLinks'); -%>

    <h3 class="CenterBody">✦ Follow me! ✦</h3>

    <%- include('snips/SocialLinks'); -%>

</div>