<style>
    .loggedOut{
        display: none;
    }
    #AccountNav{
        right: 0px;
        position: fixed;
        background-color: red;
    }
</style>

<script>
    window.onload = function() {
        let nav = document.getElementById('AccountNav')
        let mesg = document.getElementById('WelcomeMessage')
        if(isLoggedIn){
            nav.classList.remove('loggedOut')
            mesg.innerHTML = "Logged in As " + userInfo.username
        } else {
            console.log("you are logged out")
        }
    };

    function logOut(){
        const token = localStorage.getItem("accessToken");
        fetch("/logout", {
            method: "GET"
        })
        localStorage.clear()
        window.location.reload()
    }
</script>

<div id="AccountNav" class="loggedOut">
    <h4 id="WelcomeMessage">Hello</h4>
    <button onclick="logOut()" id="LogoutBtn">Logout</button>
</div>