<footer>Copyright 2024 Skulk Space

    <img id="FooterIcon" src="/assets/SkulkSpaceFOXSmaller.png">
    <a href="/" class="HomeWindowLink" id="ReturnLink">
        <h5 class="LinkTitle">Return Home</h5>
        <%- include('infinity'); -%>
    </a>

</footer>

</body>
</html>