<a href="https://linktr.ee/SoapyBits?fbclid=PAY2xjawHrqc9leHRuA2FlbQIxMQABpjyTfzD3545xkPyJRmyDipo-i5L0VDmZw_gT1N3QreVwf6D1uPJ9sP_5dw_aem_N9qhED8JDYguOExsOkFjBA" target="_blank" class="HomeWindowLink" id="GalleryLink">
    <h5 class="LinkTitle">Vael The Bat</h5>
    <%- include('./infinity'); -%>
</a>