<%- include('../partials/header'); -%>

<script>
    async function redir() {
        window.location.href = '/login';
    }
</script>
<style>
    @media only screen and (min-device-width:1400px) {
        /*style for desktop and tablet*/
        #LoginHeader{
            font-size: 6vh;
            color: black;
            padding: 0px;
            margin-bottom: 15px;
            margin-top: 0px;
        }

        #ErrorBody {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-container {
            background-color: rgba(126, 95, 126, 0.705);
            padding: 4vh;
            border-radius: 3vh;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 50vh;
            height: 40vh;
            text-align: center;
        }

        #username {
            width: 25vw;
            margin: 1vh;
            padding: 2vh;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 2vh;
        }

        #password {
            width: 25vw;
            margin: 1vh;
            padding: 2vh;
            border: 1px solid #cccccccb;
            border-radius: 5px;
            font-size: 2vh;
        }

        button {
            width: 10vw;
            padding: 2vh;
            margin-top: 5vh;
            background: black;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 2vh;
            cursor: pointer;
        }

        .error {
            color: red;
            margin-top: 7vh;
            font-size: 3vh;
        }
    }

    @media only screen and (max-device-width: 1400px) {
        /* Mobile Styles */
        #LoginHeader{
            font-size: 50px;
            color: black;
            padding-bottom: 0px;
            margin-bottom: 32px;
        }

        #ErrorBody {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-container {
            background-color: rgba(126, 95, 126, 0.705);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 50%;
            height: 20%;
            text-align: center;
        }

        #username {
            width: 65%;
            margin: 2%;
            padding: 25px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 26px;
        }

        #password {
            width: 65%;
            margin: 2%;
            padding: 25px;
            border: 1px solid #cccccccb;
            border-radius: 5px;
            font-size: 26px;
        }

        button {
            width: 35%;
            padding: 20px;
            margin-top: 8%;
            background: black;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background: #0056b3;
        }

        .error {
            font-size: 1.5vh;
            color: red;
            margin-top: 2.5vh;
        }

        button{
            height: 5vh;
            font-size: 1vh;
        }
    }
</style>

<div id="ErrorBody">
    <div class="login-container">
        <h2 id="LoginHeader" class="GlitchHeader RainbowText"><%= code %></h2>
        <button class="RainbowShadow-Large" onclick="redir()">Go to Login</button>
        <p class="error" id="errorMessage"><%= message %></p>
    </div>
</div>

<%- include('../partials/footer'); -%>
