<%- include('partials/vael-header'); -%>

<script>

function animateContent(){
    document.getElementById("Vael-Content").classList.add('Vael-Animate')
    setTimeout(function() {
        document.getElementById("Vael-Content").classList.remove('Vael-Animate')
    }, 150);
}

</script>

<style>
@media only screen and (min-device-width:1400px) { /* For Desktop */
    #Grave-Header{
        text-align: center;
    }

    .MainLink {
        direction: var(--site-language-direction);
        overflow: hidden;
        text-align: center;
        margin: 10px;
        padding: 15px;
        background-image: linear-gradient(rgb(85, 33, 80), rgb(26, 16, 25));
        border: 1px rgb(0, 0, 0) solid;
        border-radius: 25px;
        grid-column-start: 2;
        grid-column-end: 2;
        width: 240px;
        min-width: 240px;
        height: 30px;
        font-size: 25px;
    }

    .MainLink:hover{
        cursor: pointer;
        animation: pulse 0.75s alternate-reverse infinite ease-in;
    }

    .section{
        display: grid;
        grid-template-columns: 100%;
    }

    #vael-top{
        margin-top: 10vh;
        margin-bottom: 0px;
    }
    #identity-label{
        margin-top: 0px;
    }
    #Vael-Content{
        margin-top: 2%;
        transition: transform .15s ease-in;
    }

    .Vael-Animate{
        transition: transform .15s ease-in;
        transform: rotate3d(0, 1, 0, 90deg);
    }

    .container {
        max-width: 800px;
        margin: auto;
        background-color: rgba(66, 50, 65, 0.829);
        padding: 20px;
        border-top-left-radius: 21vw;
        border-top-right-radius: 21vw;
        border-right: 1.5vw solid rgba(26, 16, 25, 0.808);
        animation: breath 3s alternate-reverse infinite;
    }
    h1, h2, h3,h4 {
        font-family: "Sour Gummy", sans-serif;
        color: rgb(233, 159, 0);
        text-shadow: 3px 3px black;
    }
    .section {
        margin-bottom: 30px;
        color: rgb(233, 159, 0);
    }
}

@media only screen and (max-device-width: 1400px) { /* For Mobile */
    #Grave-Header{
        text-align: center;
    }

    .MainLink{
        direction: var(--site-language-direction);
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        text-align: center;
        margin: 15px;
        padding: 10px;
        background-color:rgb(26, 16, 25);
        }

    .section{
        background-color: red;
    }

    #vael-top{
        margin-top: 1vh;
        margin-bottom: 0px;
    }
    #identity-label{
        margin-top: 0px;
    }
    #Vael-Content{
        margin-top: 2%;
        transition: transform .15s ease-in;
    }

    .Vael-Animate{
        transition: transform .15s ease-in;
        transform: rotate3d(0, 1, 0, 90deg);
    }

    .container {
        margin: auto;
        width: 80%;
        background-color: rgb(66, 50, 65);
        padding: 20px;
        border-top-left-radius: 30vw;
        border-top-right-radius: 30vw;
        border-right: 1.5vw solid rgb(26, 16, 25);
        animation: breath 3s alternate-reverse infinite;
    }
    h1, h2, h3,h4 {
        font-family: "Sour Gummy", sans-serif;
        color: rgb(233, 159, 0);
        text-shadow: 3px 3px black;
    }
    .section {
        margin-bottom: 30px;
        color: rgb(233, 159, 0);
    }
}

@keyframes breath {
        0%{box-shadow: 0 0 10px rgb(233, 0, 221);}
        100%{box-shadow: 0 0 32px rgb(233, 0, 0);}
    }
@keyframes pulse {
    0%{border-color: rgb(0, 0, 0); color: rgb(233, 159, 0);}
    100%{border-color: rgb(129, 0, 0); color:rgb(199, 0, 0);}
}
</style>

<div class="CenterBody" id="AboutSection">
    <div id="Vael-Content" class="container" hx-get="/vaelmain" hx-trigger="load">

    </div>
</div>


