<%- include('partials/header'); -%>

<style>
    #footericon {
        display: none;
    }

    a{
        color: rgb(0, 225, 255);
        font-weight: 500;
    }

    .CautionTapeTop{
        width: 200%;
        height: 10%;
        max-height: 40px;
        position: fixed;
        top: 0px;
        left: 0px;
        animation: CautionScroll 15s infinite linear;
    }

    .CautionTapeBottom{
        width: 200%;
        height: 10%;
        max-height: 40px;
        position: fixed;
        bottom: 0px;
        left: 0px;
        animation: CautionScroll 15s infinite linear;
    }
    .CautionImg{
        height: 100%;
        width: 100%;
        background-image: url("assets/Construction.gif");
        background-size: 10%;

    }

    @keyframes CautionScroll{
        0%{left: 0%;}
        100%{left: -80%}
    }

    #WIP{
        margin-top: 5%;
    }
    @media only screen and (min-device-width: 1400px) {
        /* desktop Styles */
        #Message{
            width: 50%;
            padding: 25px;
            color: white;
            font-size: large;
            background-color: rgba(126, 95, 126, 0.705);;
        }
    }

    @media only screen and (max-device-width: 1400px) {
        /* Mobile Styles */
        #Message{
            width: 90%;
            padding: 25px;
            color: white;
            font-size: xx-large;
            background-color: rgba(126, 95, 126, 0.705);;
        }
    }
</style>

<div class="CenterBody" id="WIP">
    <div class="CautionTapeTop">
        <div class="CautionImg">Test</div>
    </div>
</div>

<div class="CenterBody">
    <h1 id ="WIP" class="GlitchHeader RainbowText">Under Construction</h1>
</div>

<div class="CenterBody">
    <div id="Message">
        <p>Howdy! I'm Ergo. You found a part of the website that's either still under development or doesnt exist</p>
        <p>Beyond its practical purposes, detailed on the <a href="/about">ABOUT</a> page, Skulk.Space has an aesthetic goal: to build upon the charming and abstract qualities of the early 2000s internet. While I'm not particularly nostalgic—especially for an era I only briefly experienced—my aim is to iterate on the Web 1.0 style using modern web development tools and techniques.</p>
        <p>I've seen many other websites seek to recapture the Web 1.0 era, but most resort to crude and outdated methods of web development that ultimately limit the scope of the project. As much as I dislike the current visual style and the overall overcomplicated nature of the web in the 2020s, it would be foolish to suggest that websites were "better" back then.</p>
        <p>With Skulk.Space, I've challenged myself to create a bespoke and interesting website full of quirky features and Easter eggs using industry-standard development tools. I've tried my best to create every asset myself.
        </p>

        <p> Currently, Skulk.Space is a single server application built using node.js with the framework in place to link and connect to other applications in the future.</p>
        <p> some tools I'm using include:
            <ul>
                <li>Express</li>
                <li>Socket.io</li>
                <li>SQLite3</li>
                <li>HTMX</li>
            </ul>
        
        <p> Additionally, the webserver is hosted on my own hardware, a dell R720 blade server which I manage with proxmox.</p>
        <p> While I have an education in networking, hardware, and software devlopment, my web devlopment skills are self-acquired, there will be problems and issues for sure, I appreciate your patience.</p>
    </div>
</div>

<div class="CenterBody" id="WIP">
    <div class="CautionTapeBottom">
        <div class="CautionImg">Test</div>
    </div>
</div>

<%- include('partials/footer'); -%>