<div id="MainLinks">
    <div class="MainLink" onclick="animateContent()" hx-trigger="click delay:0.07s"hx-get="/vaelabout" hx-target="#Vael-Content">About Me</div>
    <div class="MainLink" onclick="animateContent()" hx-trigger="click delay:0.07s"hx-get="/vaelportfolio" hx-target="#Vael-Content">Portfolio</div>
    <div class="MainLink" onclick="animateContent()" hx-trigger="click delay:0.07s"hx-get="/vaelprices" hx-target="#Vael-Content">TOS and Prices</div>
</div>