<div id="SocialLinks">
    <div class="SocialLink" id="BlueskyLink">Bluesky <img class="social-icon" src="/assets/icons/bluesky.svg" width="50px"></img> </div>
    <!-- <div class="SocialLink" id="InstagramLink">Instagram</div> -->
    <!-- <div class="SocialLink" id="TipjarLink">Tipjar</div> -->
</div>
