
.GlitchHeader {
    font-family: 'Rubik Glitch', system-ui;
    font-weight: 200;
}

/* Global Link Styles */
/* a tags are used in some stylistic elements so most styles are removed globally */
a {
    all: unset;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Site-Font{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a:hover{
    cursor: pointer;
}

.CenterBody {
    display: flex;
    justify-content: center;
}

.BGImage {
    background-image: url('Midground.png');
    position: absolute;
    left: 0px;
    width: 200%;
    height: 200%;
    background-repeat: repeat;
    z-index: -1;
}

#HomePage {
    grid-column: 1;
}

#background {
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200%;;
    z-index: -1;
}


/* Paralax Background styles */
#vbackground {
    background-image: url('assets/vBackground.png');
    left: -128px;
    animation: vbPan 30s infinite linear;
}

#ibackground {
    background-image: url('assets/Background.png');
    left: -256px;
    animation: bPan 25s infinite linear;
}

#midground {
    background-image: url('assets/Midground.png');
    left: -512px;
    animation: mPan 25s infinite linear;
}

#foreground {
    background-image: url('assets/Foreground.png');
    left: -1024px;
    animation: fPan 20s infinite linear;
}

/* Paralax Background Animations */

@keyframes vbPan {
    0%{top: -128px;}
    100%{top:0px;}
}

@keyframes bPan {
    0%{top: -256px;}
    100%{top:0px;}
}

@keyframes mPan {
    0%{top: -512px;}
    100%{top:0px;}
}

@keyframes fPan {
    0%{top: -1024px; left:-25px}
    100%{top:0px; left:-25px}
}

/* Footer Fox Icon, create local style with display:none on any page where it shouldn't be displayed */
#FooterIcon {
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 20%;
    margin: 10px;
}

/* Rainbow Text Animation*/
.RainbowText{
    color: black;
    text-shadow: -1px -1px 0 lime, 1px -1px 0 lime, -1px 1px 0 lime, 1px 1px 0 lime;
    animation:RGB 6s linear alternate-reverse infinite;
}

/* Rainbow Outline */
.RainbowShadow{
    box-shadow: -1px -1px 0 lime, 1px -1px 0 lime, -1px 1px 0 lime, 1px 1px 0 lime;
    animation:RGBShadow 6s linear alternate-reverse infinite;
}

.RainbowShadow-Topless{
    box-shadow: -1px 1px 0 lime, 1px 1px 0 lime, -1px 1px 0 lime, 1px 1px 0 lime;
    animation:RGBShadow-Topless 6s linear alternate-reverse infinite;
}

/* Thicker Rainbow Outline for mobile styles*/
.RainbowShadow-Large{
    box-shadow: -3px -3px 0 lime, 3px -3px 0 lime, -3px 3px 0 lime, 3px 3px 0 lime;;
    animation:RGBShadow-Large 6s linear alternate-reverse infinite;
}

@keyframes RGB{
    0%{text-shadow: -1px -1px 0 lime, 1px -1px 0 lime, -1px 1px 0 lime, 1px 1px 0 lime;}
    12.5%{text-shadow: -1px -1px 0 turquoise, 1px -1px 0 turquoise, -1px 1px 0 lime, 1px 1px 0 lime;}
    25%{text-shadow: -1px -1px 0 turquoise, 1px -1px 0 turquoise, -1px 1px 0 turquoise, 1px 1px 0 turquoise}
    37.5%{text-shadow: -1px -1px 0 turquoise, 1px -1px 0 turquoise, -1px 1px 0 magenta, 1px 1px 0 magenta}
    50%{text-shadow: -1px -1px 0 magenta, 1px -1px 0 magenta, -1px 1px 0 magenta, 1px 1px 0 magenta;}
    62.5%{text-shadow: -1px -1px 0 magenta, 1px -1px 0 magenta, -1px 1px 0 yellow, 1px 1px 0 yellow;}
    75%{text-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow, 1px 1px 0 yellow;}
    87.5%{text-shadow: -1px -1px 0 lime, 1px -1px 0 lime, -1px 1px 0 yellow, 1px 1px 0 yellow;}
    100%{text-shadow: -1px -1px 0 lime, 1px -1px 0 lime, -1px 1px 0 lime, 1px 1px 0 lime;}

}

@keyframes RGBShadow{
    0%{box-shadow: -1px -1px 0 lime, 1px -1px 0 lime, -1px 1px 0 lime, 1px 1px 0 lime;}
    12.5%{box-shadow: -1px -1px 0 turquoise, 1px -1px 0 turquoise, -1px 1px 0 lime, 1px 1px 0 lime;}
    25%{box-shadow: -1px -1px 0 turquoise, 1px -1px 0 turquoise, -1px 1px 0 turquoise, 1px 1px 0 turquoise}
    37.5%{box-shadow: -1px -1px 0 turquoise, 1px -1px 0 turquoise, -1px 1px 0 magenta, 1px 1px 0 magenta}
    50%{box-shadow: -1px -1px 0 magenta, 1px -1px 0 magenta, -1px 1px 0 magenta, 1px 1px 0 magenta;}
    62.5%{box-shadow: -1px -1px 0 magenta, 1px -1px 0 magenta, -1px 1px 0 yellow, 1px 1px 0 yellow;}
    75%{box-shadow: -1px -1px 0 yellow, 1px -1px 0 yellow, -1px 1px 0 yellow, 1px 1px 0 yellow;}
    87.5%{box-shadow: -1px -1px 0 lime, 1px -1px 0 lime, -1px 1px 0 yellow, 1px 1px 0 yellow;}
    100%{box-shadow: -1px -1px 0 lime, 1px -1px 0 lime, -1px 1px 0 lime, 1px 1px 0 lime;}

}

@keyframes RGBShadow-Topless{
    0%{box-shadow: -1px 1px 0 lime, 1px 1px 0 lime, -1px 1px 0 lime, 1px 1px 0 lime;}
    12.5%{box-shadow: -1px 1px 0 turquoise, 1px 1px 0 turquoise, -1px 1px 0 lime, 1px 1px 0 lime;}
    25%{box-shadow: -1px 1px 0 turquoise, 1px 1px 0 turquoise, -1px 1px 0 turquoise, 1px 1px 0 turquoise}
    37.5%{box-shadow: -1px 1px 0 turquoise, 1px 1px 0 turquoise, -1px 1px 0 magenta, 1px 1px 0 magenta}
    50%{box-shadow: -1px 1px 0 magenta, 1px 1px 0 magenta, -1px 1px 0 magenta, 1px 1px 0 magenta;}
    62.5%{box-shadow: -1px 1px 0 magenta, 1px 1px 0 magenta, -1px 1px 0 yellow, 1px 1px 0 yellow;}
    75%{box-shadow: -1px 1px 0 yellow, 1px 1px 0 yellow, -1px 1px 0 yellow, 1px 1px 0 yellow;}
    87.5%{box-shadow: -1px 1px 0 lime, 1px 1px 0 lime, -1px 1px 0 yellow, 1px 1px 0 yellow;}
    100%{box-shadow: -1px 1px 0 lime, 1px 1px 0 lime, -1px 1px 0 lime, 1px 1px 0 lime;}

}

@keyframes RGBShadow-Large{
    0%{box-shadow: -3px -3px 0 lime, 3px -3px 0 lime, -3px 3px 0 lime, 3px 3px 0 lime;}
    12.5%{box-shadow: -3px -3px 0 turquoise, 3px -3px 0 turquoise, -3px 3px 0 lime, 3px 3px 0 lime;}
    25%{box-shadow: -3px -3px 0 turquoise, 3px -3px 0 turquoise, -3px 3px 0 turquoise, 3px 3px 0 turquoise}
    37.5%{box-shadow: -3px -3px 0 turquoise, 3px -3px 0 turquoise, -3px 3px 0 magenta, 3px 3px 0 magenta}
    50%{box-shadow: -3px -3px 0 magenta, 3px -3px 0 magenta, -3px 3px 0 magenta, 3px 3px 0 magenta;}
    62.5%{box-shadow: -3px -3px 0 magenta, 3px -3px 0 magenta, -3px 3px 0 yellow, 3px 3px 0 yellow;}
    75%{box-shadow: -3px -3px 0 yellow, 3px -3px 0 yellow, -3px 3px 0 yellow, 3px 3px 0 yellow;}
    87.5%{box-shadow: -3px -3px 0 lime, 3px -3px 0 lime, -3px 3px 0 yellow, 3px 3px 0 yellow;}
    100%{box-shadow: -3px -3px 0 lime, 3px -3px 0 lime, -3px 3px 0 lime, 3px 3px 0 lime;}

}

@media only screen and (max-device-width: 1400px) {
    /* For mobile Devices: */

    #ReturnLink{
        position: fixed;
        left: 0px;
        bottom: 0px;
        margin: 5px;
        display: grid;
        grid-template-rows: 20% 80%;
        width: 125px;
        height: 140px;
        margin: 10px;
        border: solid 2px black;
    }

    #ReturnLink > h5 {
        font-size: 20px;
    }

    #LogoHolder{
        padding-top: 70px;
        margin-bottom: 70px;
        object-fit: cover;
    }

    .title-bar-text{
        font-size: 15px;
        color: black;
        font-weight:700;
        text-wrap: nowrap;
    }

    .title-bar-controls > button {
        width: 30px;
        height:30px;
    }

    .field-row > button{
        height: 50px;
        width: 150px;
        font-size: x-large;
    }

    #LogoImg{
        min-width: 80%;
    }
    #HomeWindow{
        margin: 10px;
        min-width: 75%;
        max-width: 80%;
    }

    .HomeWindowLink{
        display: grid;
        grid-template-rows: 20% 80%;
        width: 250px;
        height: 280px;
        margin: 40px;
        border: solid 2px black ;
    }
    
    .HomeWindowLink > div {
        width: 100%;
        
    }
    
    .LinkTitle{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #F5785F;
        margin-top: 0px;
        margin-bottom: 0px;;
        text-align: center;
        font-size: 40px;
        color: #4D0D3B;
        padding: 3px;
        border-bottom: solid 2px black ; 
    }
  }

  @media only screen and (min-device-width:1400px) {
    /*style for desktop and tablet*/
    #ReturnLink{
        position: fixed;
        left: 0px;
        bottom: 0px;
        margin: 5px;
        display: grid;
        grid-template-rows: 20% 80%;
        width: 165px;
        height: 185px;
        margin: 40px;
        border: solid 2px black;
    }

    #LogoHolder{
        margin-top: 0px;
    }

    #LogoImg{
        width: 500px;
    }

    #HomeWindow{
        margin: 10px;
        min-width: 35%;
        max-width: 35%;
    }

    .HomeWindowLink{
        display: grid;
        grid-template-rows: 20% 80%;
        width: 150px;
        height: 160px;
        margin: 40px;
        border: solid 2px black ;
    }
    
    .HomeWindowLink > div {
        width: 100%;
        
    }
    
    .LinkTitle{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #F5785F;
        margin-top: 0px;
        margin-bottom: 0px;;
        text-align: center;
        font-size: 20px;
        color: #4D0D3B;
        padding: 3px;
        border-bottom: solid 2px black ; 
    }
}

